body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layout {
  height: 150vh;
}

.selectedProject {
  font-weight: bold;
}

.subaccountWindow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rowContent {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tagBox {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
}

/* Legder */

.ledgerButtons > Button {
  margin-right: 5px;
  margin-left: 5px;
}

.ledgerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.concept > div {
  margin: 5px;
  display: inline;
}

table {
  font-family: "Courier New", Courier, monospace;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: grey;
  color: white;
}
